= form_for @user  do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %td
        = f.label :username
      %td
        = f.text_field :username
    %tr
      %td
        = f.label :last_name
      %td
        = f.text_field :last_name
    %tr
      %td
        = f.label :first_name
      %td
        = f.text_field :first_name

  .actions
    = f.submit 'Save'
