%h1 Listing users

%table
  %tr
    %th
      (id)
    %th
      Username
    %th
      First Name
    %th
      Last Name

  - @users.each do |user|
    %tr
      %td= user.id
      %td= link_to user.username, user
      %td= user.first_name
      %td= user.last_name
      -# %td= link_to 'Show', user
      -# %td= link_to 'Edit', edit_user_path(user)
      -# %td= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
