%p#notice= notice

%table
  %tr
    %th
      Username
    %td
      = @user.username
  %tr
    %th
      First name
    %td
      = @user.first_name
  %tr
    %th
      Last Name
    %td
      = @user.last_name


= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
